@tailwind base;

h1 {
  @apply font-display text-3xl font-bold text-not-quite-black w-2/3;
}

h2 {
  @apply font-display text-xl text-primary mt-3xl mb-lg uppercase;
}

h3 {
  @apply font-display text-xl text-black font-medium tracking-wide text-not-quite-black uppercase mb-lg;
}

p {
  @apply font-body text-base text-access-grey mb-lg leading-relaxed;
}

p > a {
  @apply text-primary underline font-semibold;
}

ul {
  @apply italic text-access-grey ml-3xl mt-xl font-light;
}

ul > li {
  @apply mb-base list-disc;
}

em {
  @apply font-semibold;
}

blockquote {
  @apply border-l-8 border-primary ml-2xl pl-2xl italic pt-lg pb-lg mt-xl mb-xl;
}

blockquote > p {
  @apply mb-auto text-lg;
}

.lede {
  @apply text-lg font-light mt-base text-access-grey w-4/5;
}

.date {
  @apply font-display text-base text-not-quite-black uppercase;
}

.navlink {
  @apply font-display text-base font-medium text-access-grey tracking-widest inline-block w-5xl mr-xl border-b-4 border-primary pb-xxs no-underline uppercase;
}

.logo {
  fill: white;
  stroke: #2dcaca;
  stroke-width: 8;
}

.footerlink {
  @apply mr-lg ml-lg font-medium leading-loose;
}

.footerlink:hover {
  @apply underline;
}

@tailwind components;

@tailwind utilities;
