@tailwind base;

h1 {
  @apply font-display text-3xl w-3/4 font-bold text-not-quite-black leading-none;
}

h2 {
  @apply font-display text-xl text-primary mt-2xl mb-base;
}

h3 {
  @apply font-display text-lg text-black font-medium text-not-quite-black mb-lg mt-2xl;
}

h3.post-title {
  @apply mt-auto mb-xxs text-xl font-semibold leading-none;
}

h4 {
  @apply font-display text-base text-black font-bold text-not-quite-black mb-sm mt-lg;
}

p {
  @apply font-body text-body text-access-grey mb-lg leading-normal;
}

::selection {
  @apply bg-primary text-white opacity-75;
}

p > a {
  @apply text-primary font-semibold;
}

p > a:hover {
  @apply underline;
}

ul {
  @apply italic text-access-grey ml-xl mt-xl font-light;
}

ul > li {
  @apply mb-base list-disc;
}

em {
  @apply font-semibold;
}

blockquote {
  @apply font-semibold font-body italic my-xl;
}

blockquote > p {
  @apply text-lg text-not-quite-black mx-lg;
}

.lede > p {
  @apply text-lg font-light mt-base text-access-grey w-full;
}

.nav-link {
  @apply font-display text-base font-medium text-access-grey tracking-wide ml-2xl mr-2xl pb-xxs mt-sm no-underline border-b-4 border-transparent;
}

.nav-link:hover,
.nav-link-active {
  @apply border-primary border-b-4 cursor-pointer;
}

.logo {
  fill: white;
  stroke: #2dcaca;
  stroke-width: 8;
}

.post-link:hover h3 {
  @apply underline;
}

.upshadow {
  box-shadow: 0 -4px 8px rgba(196, 196, 196, 0.4);
}

@screen md {
  h1 {
    @apply text-4xl w-2/3;
  }

  h2 {
    @apply mt-3xl;
  }

  h3 {
    @apply mt-2xl;
  }

  h3.post-title {
    @apply text-2xl;
  }

  blockquote {
    @apply my-2xl;
  }

  .nav-link {
    @apply ml-3xl mr-3xl;
  }

  .lede {
    @apply w-3/5;
  }
}

@tailwind components;

@tailwind utilities;
